{% extends "app/layout.html" %}

{% block content %}{% load staticfiles %}

<div class="container">
		
        <div class="title_pol">
				<h1>О нас</h1>
				<p>О нас
"Качонок" это новый виток развития спорта в Псковской области. Для нас спорт это жизнь. Мы делаем все для того чтобы достичь результатов. С нами вы выйдете на новый уровень спортивной подготовки. Мы предлагаем вам спортивное питание от известных мировых брендов: Optimum nutrition, BSN, Weider, Twinlab, Prolab и др. Эти и многие другие компания является нашими партнерами и гарантируют непревзойденное качество спортивного питания.
Год основания: 2017.</p>
        </div>


       
</div>




		
		
{% endblock %}
